:root {
  --cor-fundo: #0f0f0f;
  --cor-fundo2: #010101;
  --cor-fonte-principal: #ffffff;
  --cor-fonte-secundaria: rgba(255, 255, 255, 0.2);
  --cor-primaria: #ee2211;
  --cor-secundaria: #900;
  --onda: url("./img/onda-escura.svg");
}

@media (prefere-color-scheme: light) {
  :root {
    --cor-fundo: #f7f7f7;
    --cor-fundo2: #ffffff;
    --cor-fonte-principal: #000000;
    --cor-fonte-secundaria: rgba(0, 0, 0, 0.2);
    --onda: url("./img/onda-clara.svg");
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--cor-fonte-principal);
  background-color: var(--cor-fundo);
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-top: 60px;
  height: 95.5svh;
  align-content: space-between;
}

.conteudo {
  display: grid;
  gap: 60px;
  margin-bottom: 60px;
}

header {
  display: grid;
  gap: 60px;
  align-self: start;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.navegacao li a {
  display: block;
}

p {
  font-size: 1.25rem;
  line-height: 1.63rem;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  max-width: 100%;
  justify-self: center;
}

.titulo {
  justify-self: center;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  gap: 20px;
}

.btn-nav {
  background-color: var(--cor-fundo2);
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--cor-fonte-principal);
  border-radius: 4px;
  border: solid var(--cor-fundo2) 2px;
}

.btn-nav:hover {
  border: solid var(--cor-primaria) 2px;
}

.informações {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-self: start;
}

.detalhes {
  position: relative;
  display: grid;
  padding: 40px;
  background-color: var(--cor-fundo2);
  text-align: end;
  place-items: center end;
  align-content: center;
  gap: 20px;
}

.detalhes h2 {
  font-size: 2rem;
}

.detalhes h2::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 30px;
  right: -30px;
}

.detalhes a {
  text-decoration: none;
  color: #ffffff;
  background-color: var(--cor-primaria);
  border-radius: 4px;
  padding: 1rem 2rem;
}

.detalhes a:hover {
  background-color: var(--cor-secundaria);
}

.vantagens {
  text-align: end;
  align-self: center;
  background-image: var(--onda);
}

.vantagens h2 {
  padding: 40px;
  font-size: 4rem;
  color: var(--cor-fonte-secundaria);
  text-align: end;
}

.especificacoes {
  padding: 40px;
  display: grid;
  background-color: var(--cor-fundo2);
  margin: 0px;
}

.especificacoes-item:nth-child(odd) {
  background-color: var(--cor-fundo);
}

.especificacoes-item {
  border-left: solid transparent 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.especificacoes-item:hover {
  border-left: solid var(--cor-primaria) 4px;
}

.especificacoes-item p {
  grid-column: 2;
}

footer {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-fundo2);
  box-sizing: border-box;
}

@media (max-width: 900px) {
  body {
    gap: 30px;
  }
  header {
    gap: 30px;
  }
  .detalhes h2::before {
    display: none;
  }
  .informações {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    justify-self: center;
  }
  .detalhes {
    text-align: start;
    place-items: center start;
  }
  .vantagens h2 {
    font-size: 3rem;
    text-align: center;
    align-self: center;
  }
  .navegacao {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
  }
  /* .navegacao li {
    flex-basis: 40%;
  } */
  .navegacao li a {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .navegacao li {
    flex-basis: 43%;
  }
}
